<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>


   

    <!-- login Area Strat-->
    <section class="login-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="basic-login">
                        <h3 class="text-center mb-60">Login</h3>
                        <form action="/login" method="post">
                            <label for="name">Email Address <span>**</span></label>
                            <input name="email" id="name" type="text" placeholder="Email address..." />
                            <label for="pass">Password <span>**</span></label>
                            <input name="password" id="pass" type="password" placeholder="Enter password..." />
                            <div class="login-action mb-20 fix">
                                <span class="log-rem f-left">
                                    <input id="remember" type="checkbox" />
                                    <label for="remember">Remember me!</label>
                                </span>
                                <span class="forgot-login f-right">
                                    <a href="#">Lost your password?</a>
                                </span>
                            </div>
                            <button type="submit" class="os-btn w-100">Login Now</button>
                            <div class="or-divide"><span>or</span></div>
                            <a href="register.html" class="os-btn os-btn-black w-100">Register Now</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login Area End-->
</main>

    <%- include('../includes/footer.ejs') %>
