<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>

<!--================Login Box Area =================-->
<section class="login_box_area section_gap ">
    <div class="container align-middle">
        <div class="row d-flex justify-content-center">
            
            <div style="margin-top: 50px;" class="col-lg-6 justify-content-center">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <h6 class="text-danger"><%= errMsg %></h6>
                    <form class="row login_form" action="/login" method="post" onsubmit="return fieldvalidation()" id="contactForm" novalidate="novalidate">
                        
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                            <span class="float-right text-danger" id="emailErr"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="pass" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                            <span class="float-right text-danger" id="passErr"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Keep me logged in</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" onclick="fieldvalidation()" class="primary-btn">Log In</button>
                            <div class="row d-flex justify-content-between m-4" >
                                <a href="#">Forgot Password?</a>
                                <a href="/signup">Create an account ?</a>
                            </div>
                            

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function fieldvalidation() {
        if (document.getElementById('pass').value == ""){
            document.getElementById('passErr').innerHTML="Fill this field"
            valid1=false
        }else{
            document.getElementById('passErr').innerHTML=""
            valid1=true
        }
        if(document.getElementById('email').value == ""){
            document.getElementById('emailErr').innerHTML='Fill this field'
            valid2=false
        }else{
            document.getElementById('emailErr').innerHTML=''
            valid2=true
        }
         if(valid1&&valid2){
            return true
         }else{
            return false
         }
    }
</script>
    <%- include('./includes/footer.ejs') %>
