<%- include('../includes/header') %>
<%- include('../includes/navigation') %>

    <section>
        <div class="container" style="width: 50%; height: 90vh; padding:100px ;">
            <h1>Verify</h1>
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Enter OTP </label>
              <input type="text" class="form-control" placeholder="Enter OTP">
            <button  type="submit" class="mt-5 float-right btn btn-primary">verify </button>
        </form> 
        </div>
        
    </section>
       
    





<%- include('../includes/footer') %>