<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ecom</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="/user/img/favicon.png">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="/user/css/preloader.css">
        <link rel="stylesheet" href="/user/css/bootstrap.min.css">
        <link rel="stylesheet" href="/user/css/slick.css">
        <link rel="stylesheet" href="/user/css/metisMenu.css">
        <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/user/css/animate.min.css">
        <link rel="stylesheet" href="/user/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="/user/css/fontAwesome5Pro.css">
        <link rel="stylesheet" href="/user/css/ionicons.min.css">
        <link rel="stylesheet" href="/user/css/default.css">
        <link rel="stylesheet" href="/user/css/style.css">
    </head>

    <body>
    
        <div id="loading">
                    <div id="loading-center">
                        <div id="loading-center-absolute">
                        <div class="object" id="first_object"></div>
                        <div class="object" id="second_object"></div>
                        <div class="object" id="third_object"></div>
                        </div>
                    </div>      
                </div>
                <!-- prealoder area end -->
        
        
                